<div class="message-container d-flex" id="message-<%= message.id %>">
  <%= cl_image_tag(message.user.photo.key, crop: :thumb, gravity: :face, class:"avatar-message") %>
  <div class="ml-2 chat-message">
    <span class="font-italic"><%= message.user.username %></span> <span class="font-italic message-time"><%= message.created_at.strftime('%R') %></span>
    <p><%= message.content %></p>
  </div>
</div>
