<%= render 'shared/navbar' %>
<div class="cover d-flex flex-column align-items-center justify-content-center text-white">
  <h1>Chin Up!</h1>
  <h3>Échangez avec des personnes qui vous ressemblent.</h3>
</div>
<div id="page-container">
  <div id="content-wrap">
    <div class="container first-part">
      <div class="searchbar">
        <%= form_tag rooms_path, method: :get do %>
          <div class="d-flex align-items-center">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Rechercher un sujet...",
              autocomplete: 'off'
              %>
            <button type="submit" class="btn search-btn">
              <i class='fas fa-search'></i>
            </button>
          </div>
        <% end %>
      </div>
      <div id="ongoing_topics" class="mb-5">
        <h2>Sujets en cours</h2>
        <ul>
          <% @rooms.first(4).each do |room| %>
            <% if room.messages.where(message_type: "topic").last %>
            <li class="topic-card">
              <a class="w-100 topic-link" data-toggle="modal" data-target=".room-modal-<%= room.id %>">
                <div class="d-flex justify-content-between align-items-center">
                  <%= room.messages.where(message_type: "topic").last.content %>
                  <i class="fas fa-ellipsis-h"></i>
                </div>
              </a>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div>
        <h2>Suggestions pour vous</h2>
        <div class="card-container">
          <% @suggested_rooms.each do |room| %>
          <%= render 'shared/room_card', room: room %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-part text-center text-white py-5">
  <h3 class="mb-5">Faites connaissance avec des personnes qui partagent les mêmes passions !</h3>
  <div class="d-flex justify-content-center">
    <div class="text-center mr-5">
      <i class="fas fa-door-open mb-3" style="font-size: 2rem"></i>
      <p>Rejoignez une room</p>
    </div>
    <div class="text-center mr-5">
      <i class="fas fa-bullhorn mb-3" style="font-size: 2rem"></i>
      <p>Proposez un sujet</p>
    </div>
    <div class="text-center mr-5">
      <i class="fas fa-poll mb-3" style="font-size: 2rem"></i>
      <p>Lancez un sondage</p>
    </div>
    <div class="text-center">
      <i class="fas fa-grin-beam mb-3" style="font-size: 2rem"></i>
      <p>Discutez et amusez-vous !</p>
    </div>
  </div>
</div>

<div class="container second-part">
  <div class="mb-5 pt-4">
    <h2>Sujets en cours</h2>
    <ul>
      <% @rooms.first(4).each do |room| %>
        <% if room.messages.where(message_type: "topic").last %>
        <li class="topic-card">
          <a class="w-100 topic-link" data-toggle="modal" data-target=".room-modal-<%= room.id %>">
            <div class="d-flex justify-content-between align-items-center">
              <%= room.messages.where(message_type: "topic").last.content %>
              <i class="fas fa-ellipsis-h"></i>
            </div>
          </a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>Suggestions pour vous</h2>
    <div class="card-container">
      <% @suggested_rooms.each do |room| %>
      <%= render 'shared/room_card', room: room %>
      <% end %>
    </div>
  </div>

    <!-- <div>
      <h2> Les plus populaires </h2>
      <div class="card-container"> -->
        <%# @rooms.each do |room| %>
        <%#= render 'shared/room_card', room: room %>
        <%# end %>
      <!-- </div>
    </div> -->
</div>

<div class="footer">
    © Copyright 2021
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Chin-up ! <i class="fas fa-heart"></i>
  </div>
</div>


