<div class="expand">
<!-- Button new topic -->
  <div id="two-button">
          <!-- Button trigger modal -->
    <button id="new-survey-btn" class="expand-button first-btn">
      <i class="fas fa-poll" style="font-size: 2rem"></i>
      Lancer un sondage
    </button>

    <button id="new-topic-btn" class="expand-button">
      <i class="fas fa-bullhorn" style="font-size: 2rem"></i>
      Proposer un sujet
    </button>
  </div>
  <div class="expand-content-topic">
    <%= simple_form_for [room, message], remote: true do |f| %>
      <%= hidden_field_tag :message_type, "topic" %>
      <% topics_array=[] %>
      <% room.topics.each { |topic| topics_array << topic.subject } %>
      <%= f.input :content,
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector'},
                    collection: topics_array %>
      <%# <div class="button-field"> %>
      <%= f.button :submit, "Proposer", id: 'expand-btn', class: 'button-field' %>
      <%# </div> %>
    <% end %>
  </div>
  <div class="expand-content-survey mb-3">
    <div id="survey-content">
      <div class="modal-body">
        <%= simple_form_for [ @room, @survey ] do |f| %>
          <%= f.input :title, label: 'Question :', placeholder: "Votre question...", input_html: { autocomplete: 'off' } %>
          <div class="d-flex justify-content-between mb-5">
            <div class="d-flex flex-column survey-column">
              <%= f.input :first_proposition, label: 'Option 1 :', placeholder: "Option 1...", class:"flex-grow-1 mb-2", input_html: { id: 'input1', autocomplete: 'off'}  %>
              <%# f.input :first_photo, as: :file, label: false, input_html: { class: 'd-none', id: 'photo-input1' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> Télécharger une photo'.html_safe %>
              <%= image_tag "", width: 300, class: "hidden photo-preview-all", id: "photo-preview1" %>
              <%= f.input :url_first_image, as: :hidden, input_html: { id: 'url-input1' } %>

            </div>
            <div class="d-flex flex-column survey-column">
              <%= f.input :second_proposition, label: 'Option 2 :', placeholder: "Option 2...", input_html: { id: 'input2', autocomplete: 'off' }%>
              <%# f.input :second_photo, as: :file, label: false, input_html: { class: 'd-none', id: 'photo-input2' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> Télécharger une photo'.html_safe %>
              <%= image_tag "", width: 300, class: "hidden photo-preview-all", id: "photo-preview2" %>
              <%= f.input :url_second_image, as: :hidden, input_html: { id: 'url-input2' } %>
            </div>
          </div>
          <%= f.submit "Lancer le sondage", class: 'btn btn-create-survey' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
