
<!-- poll bar -->
<div class="result-wrap">
  <p>Résultats :</p>
  <h5><%= survey.title %> </h5>
      <div class="d-flex justify-content-between">
        <div><%= survey.first_proposition %> : <span class="first-prop-count"> <%= survey.first_proposition_count %></span></div>
        <div><%= survey.second_proposition %> : <span class="second-prop-count"><%= survey.second_proposition_count %></span></div>
      </div>

  <div class="results-poll">
    <div class="proposition first" style="width: <%= survey.first_proposition_percent %>%">
    </div>
    <div class="proposition second" style="width: <%= survey.second_proposition_percent %>%">
    </div>
  </div>
</div>
