<h5 class="mb-3"><%= @rooms.length %> <%= "room".pluralize(@rooms.length) %> <%= "correspond".pluralize(@rooms.length) %> à votre recherche</h5>
<div class="container">
    <div class="card-container">
  <% @rooms.each do |room| %>
      <div class="card-room">
        <h2 id="room-name"><%= room.name %></h2>
        <div class="hide">
          <div class="hover-description">
            <p><%= room.description %></p>
            <%= link_to 'Rejoindre', room_path(room, query: params[:query]), class: 'button' %>
          </div>
        </div>
      </div>
  <% end %>
    </div>
</div>