
<div class="main-page">
  <aside class="sidebar">
    <%# Image de la room %>
  <div class = "upper-left-room">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= link_to "", root_path, class:"exit-logo" %>
        <div class="ml-2">
          <h4><%= @room.name %></h4>
          <p><%= @room.description %></p>
        </div>
      </div>
      <div>
        <span><%= pluralize(@users_in_room.count, "chinner")%></span>
        <div class="d-flex online-users flex-row-reverse">
          <% @users_in_room.first(4).each do |user| %>
            <%= cl_image_tag user.photo.key, class: "online-users-avatar" %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="topic-banner">
      <p>Sujet en cours : <span id="topic-banner-anchor"><%= @room.messages.where(message_type: "topic").last ? @room.messages.where(message_type: "topic").last.content : "Aucun sujet en cours." %></span>
      </p>
      <div id="countdown" <%= "data-end-timer=#{@end_timer_in_seconds}" if @end_timer_in_seconds %>>
      </div>
    </div>
  </div>


    <%# Sondage et autres %>
    <section class="room-topic">
      <%= render 'rooms/show_new_topic', room: @room, message: @message %>
    </section>
    <section class="room-survey">
      <div class="expand">
          <!-- Modal -->

          <div class="surveys_status">
            <div>
              <div id="survey-container">
                <% if @ongoing_survey %>
                    <% @ongoing_survey.each do |survey| %>
                      <%= render 'rooms/show_ongoing_survey', survey: survey %>
                    <% end %>
                <% end %>
              </div>
              <div class="closed-surveys">
                <% if @closed_surveys %>
                  <% @closed_surveys.each do |survey| %>
                    <%= survey.title %>
                    <%= survey.first_proposition %>
                    <%= survey.answers.where(selected_proposition: survey.first_proposition).count %>
                    <%= survey.second_proposition %>
                    <%= survey.answers.where(selected_proposition: survey.second_proposition).count %>
                  <% end %>
                <% else %>
                  <p>L'historique est vide.</p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </section>
  </aside>
  <div id="chat">
    <div id="scroll">
      <div id="messages" data-chatroom-id="<%= @room.id %>">
        <% @room.messages.each do |message| %>
          <% if message.message_type == 'message' %>
            <%= render "messages/message", message: message %>
          <% else  %>
            <%= render "messages/announce", message: message %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [ @room, @message ], remote: true do |f| %>
      <%= hidden_field_tag :message_type, "message" %>
      <%= f.input :content, autofocus: true, label: false, placeholder: "Taper votre message...", input_html: { id: 'chat-bar', autocomplete: 'off' } %>
    <% end %>
  </div>
</div>


