
<div class="main-page">
  <aside class="sidebar">
    <%# Image de la room %>
  <div class = "upper-left-room">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= link_to "", root_path, class:"exit-logo" %>
        <div class="ml-2">
          <h4><%= @room.name %></h4>
          <p><%= @room.description %></p>
        </div>
      </div>
      <div>
        <span><%= pluralize(@users_in_room.count, "chinner")%></span>
        <div class="d-flex online-users flex-row-reverse">
          <% @users_in_room.first(4).each do |user| %>
            <%= cl_image_tag user.photo.key, class: "online-users-avatar" %>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="topic-banner">
      <p>Sujet en cours : <span id="topic-banner-anchor"><%= @room.messages.where(message_type: "topic").last ? @room.messages.where(message_type: "topic").last.content : "Aucun sujet en cours." %></span>
      </p>
      <div id="countdown" <%= "data-end-timer=#{@end_timer_in_seconds}" if @end_timer_in_seconds %>>
      </div>
    </div>
  </div>


    <%# Sondage et autres %>
    <section class="room-topic">
      <div class="expand">
      <!-- Button new topic -->
        <div id="two-button">
                <!-- Button trigger modal -->
          <button id="new-survey-btn" type="button" class="button-survey" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fas fa-poll" style="font-size: 2rem"></i>
            Sondage
          </button>
          <button class="expand-button">
            <i class="fas fa-bullhorn" style="font-size: 2rem"></i>
            Sujets
          </button>
        </div>
        <div class="expand-content">
          <%= simple_form_for [@room, @message], remote: true do |f| %>
            <%= hidden_field_tag :message_type, "topic" %>
            <% topics_array=[] %>
            <% @room.topics.each { |topic| topics_array << topic.subject } %>
            <%= f.input :content,
                          as: :radio_buttons,
                          collection_wrapper_tag: 'div',
                          collection_wrapper_class: 'category-wrapper',
                          item_wrapper_class: 'category-item',
                          input_html: {class: 'category-selector'},
                          collection: topics_array %>
            <%# <div class="button-field"> %>
            <%= f.button :submit, "Proposer", id: 'expand-btn', class: 'button-field' %>
            <%# </div> %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="room-survey">
      <div class="expand">
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Créer un nouveau sondage</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [ @room, @survey ] do |f| %>
                    <%= f.input :title,label: 'Question :', placeholder: "Votre question...", input_html: { autocomplete: 'off' } %>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-column">
                        <%= f.input :first_proposition, label: 'Option 1 :', placeholder: "1ere proposition", class:"flex-grow-1", input_html: { id: 'input1', autocomplete: 'off'}  %>
                        <%= f.input :first_photo, as: :file, label: false, input_html: { class: 'd-none', id: 'photo-input1' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> <br> Télécharger une photo'.html_safe %>
                        <%= image_tag "", width: 300, class: "hidden photo-preview-all", id: "photo-preview1" %>
                        <%= f.input :url_first_image, as: :hidden, input_html: { id: 'url-input1' } %>

                      </div>
                      <div class="d-flex flex-column">
                        <%= f.input :second_proposition, label: 'Option 2 :', placeholder: "2ème proposition", input_html: { id: 'input2', autocomplete: 'off' }%>
                        <%= f.input :second_photo, as: :file, label: false, input_html: { class: 'd-none', id: 'photo-input2' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> <br> Télécharger une photo'.html_safe %>
                        <%= image_tag "", width: 300, class: "hidden photo-preview-all", id: "photo-preview2" %>
                        <%= f.input :url_second_image, as: :hidden, input_html: { id: 'url-input2' } %>
                      </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <%= f.submit "Proposer", class: 'btn btn-primary' %>
                  <% end %>
                </div> 
              </div>
            </div>
          </div>
          <div class="surveys_status">
            <div>
              <div id="survey-container" class="ongoing-survey">
                <% if @ongoing_survey %>
                  <% @ongoing_survey.each do |survey| %>
                    <%= render 'rooms/show_ongoing_survey', survey: survey %>
                  <% end %>
                <% end %>
              </div>
              <div class="closed-surveys">
                <% if @closed_surveys %>
                  <% @closed_surveys.each do |survey| %>
                    <%= survey.title %>
                    <%= survey.first_proposition %>
                    <%= survey.answers.where(selected_proposition: survey.first_proposition).count %>
                    <%= survey.second_proposition %>
                    <%= survey.answers.where(selected_proposition: survey.second_proposition).count %>
                  <% end %>
                <% else %>
                  <p>L'historique est vide.</p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </section>
  </aside>
  <div id="chat">
    <div id="scroll">
      <div id="messages" data-chatroom-id="<%= @room.id %>">
        <% @room.messages.each do |message| %>
          <% if message.message_type == 'message' %>
            <%= render "messages/message", message: message %>
          <% else  %>
            <%= render "messages/announce", message: message %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [ @room, @message ], remote: true do |f| %>
      <%= hidden_field_tag :message_type, "message" %>
      <%= f.input :content, autofocus: true, label: false, placeholder: "Taper votre message...", input_html: { id: 'chat-bar', autocomplete: 'off' } %>
    <% end %>
  </div>
</div>


