<div class="main-page">
  <aside class="sidebar">
    <%# Image de la room %>
    <section class="room-name ">
      <div class="card-room card-chatroom">
        <h2 id="room-name"><%= @room.name %></h2>
        <div class="hide">
          <div class="hover-description">
            <p><%= @room.description %></p>
          </div>
        </div>
      </div>
    </section>
    <%# Sondage et autres %>
    <section class="room-topic">
      <div class="expand">
        <button class="expand-button">
          <h2>Proposer un sujet</h2>
        </button>
        <div class="expand-content">
          <%= simple_form_for([@room, @message]) do |f| %>
          <%= hidden_field_tag :message_type, "topic" %>
            <% topics_array=[] %>
            <% @room.topics.each { |topic| topics_array << topic.subject } %>
              <%= f.input :content,
                          as: :radio_buttons,
                          collection_wrapper_tag: 'div',
                          collection_wrapper_class: 'category-wrapper',
                          item_wrapper_class: 'category-item',
                          input_html: {class: 'category-selector'},
                          collection: topics_array %>

              <%# <div class="button-field"> %>
                <%= f.button :submit, "Proposer", id: 'expand-btn', class: 'button-field' %>
              <%# </div> %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="room-survey">
      <div class="expand">
        <button class="expand-button">
          <h2>Sondages</h2>
        </button>
        <div class="expand-content">
          <!-- Button trigger modal -->
          
          <button type="button" class="button-field created" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="fas fa-plus"></i>
            Créer un nouveau sondage
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Créer un nouveau sondage</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [ @room, @survey ] do |f| %>
                    <%= f.input :title,label: 'Question :', placeholder: "Votre question..." %>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-column">
                        <%= f.input :first_proposition, label: 'Option 1 :', placeholder: "1ere proposition", class:"flex-grow-1" %>
                        <%= f.input :first_photo, as: :file, label: false, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> <br> Télécharger une photo'.html_safe %>
                      </div>
                      <div class="d-flex flex-column">
                        <%= f.input :second_proposition, label: 'Option 2 :', placeholder: "2ème proposition", id: 'larger-input' %>
                        <%= f.input :second_photo, as: :file, label: false, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '<i class="fas fa-camera"></i> <br> <br> Télécharger une photo'.html_safe %>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.button :submit, "Proposer", class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="surveys_status">
            <div class="ongoing-survey">
              <% if @ongoing_survey %>
                <%= @ongoing_survey.title %>
                <%= @ongoing_survey.first_proposition %>
                <%= @ongoing_survey.second_proposition %>
              <% end %>
            </div>
            <div class="closed-surveys">
              <p>closed</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </aside>

  <div id="chat">
    <div id="scroll">
      <div id="messages" data-chatroom-id="<%= @room.id %>">
        <% @room.messages.each do |message| %>
          <% if message.message_type == 'message' %>
          <%= render "messages/message", message: message %>
          <% else  %>
          <%= render "messages/announce", message: message %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [ @room, @message ], remote: true do |f| %>
      <%= hidden_field_tag :message_type, "message" %>
      <%= f.input :content, label: false, placeholder: "Taper votre message..." %>
    <% end %>
  </div>
</div>
