<h1>#<%= @room.name %></h1>
<div id="messages" data-chatroom-id="<%= @room.id %>">
  <% @room.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
<%= simple_form_for [ @room, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Taper votre message..." %>
<% end %>
