<div class="main-page">
  <aside class="sidebar">
    <%# Image de la room %>
    <section class="room-name ">
      <div class="card-room card-chatroom">
        <h2 id="room-name"><%= @room.name %></h2>
        <div class="hide">
          <div class="hover-description">
            <p><%= @room.description %></p>
          </div>
        </div>
      </div>
    </section>
    <%# Sondage et autres %>
    <section class="room-topic">
      <div class="expand">
        <button class="expand-button">
          <h2>Proposer un sujet</h2>
        </button>
        <div class="expand-content">
          <%= simple_form_for([@room, @message]) do |f| %>
          <%= hidden_field_tag :message_type, "topic" %>
            <% topics_array=[] %>
            <% @room.topics.each { |topic| topics_array << topic.subject } %>
              <%= f.input :content,
                          as: :radio_buttons,
                          collection_wrapper_tag: 'div',
                          collection_wrapper_class: 'category-wrapper',
                          item_wrapper_class: 'category-item',
                          input_html: {class: 'category-selector'},
                          collection: topics_array %>

              <%# <div class="button-field"> %>
                <%= f.button :submit, "Proposer", id: 'expand-btn', class: 'button-field' %>
              <%# </div> %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="room-survey">
      <div class="expand">
        <button class="expand-button">
          <h2>Sondages</h2>
        </button>
        <div class="expand-content">
          <div class="surveys_status">
            <div class="ongoing-survey">
              <% if @ongoing_survey %>
                <%= @ongoing_survey.title %>
                <%= @ongoing_survey.first_proposition %>
                <%= @ongoing_survey.second_proposition %>
              <% end %>
            </div>
            <div class="closed-surveys">
              <p>closed</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </aside>

  <div id="chat">
    <div id="scroll">
      <div id="messages" data-chatroom-id="<%= @room.id %>">
        <% @room.messages.each do |message| %>
          <% if message.message_type == 'message' %>
          <%= render "messages/message", message: message %>
          <% else  %>
          <%= render "messages/announce", message: message %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [ @room, @message ], remote: true do |f| %>
      <%= hidden_field_tag :message_type, "message" %>
      <%= f.input :content, label: false, placeholder: "Taper votre message..." %>
    <% end %>
  </div>
</div>
